<form action="/homepage" method="GET">
  <h1>Sign Up</h1>
  <input class="prompt" type="text" name="firstname" placeholder="First Name"></input>
  <input class="prompt" type="text" name="lastname" placeholder="Last Name"></input>
  <br></br>
  <input class="prompt" type="text" name="email" placeholder="Email"></input>
  <input class="prompt" type="text" name="reemail" placeholder="Re-enter your Email"></input>
  <br></br>
  <input class="prompt" type="text" name="username" placeholder="Enter your username"></input>
  <input class="prompt" type="text" name="reusername" placeholder="Re-enter your username"></input>
  <br></br>
  <input class="prompt" type="text" name="password" placeholder="Enter your password"></input>
  <input class="prompt" type="text" name="repassword" placeholder="Re-enter your password"></input>
  <br></br>
  <span class="prompt">Gender: Male<input class="prompt" type="radio" name="gender"></input>
  Female<input class="prompt" type="radio" name="gender"></input></span>
  <br></br>
  <input class="prompt" type="Submit" ng-click="Submit()"></input>
</form>
